
.plain {
    position: absolute;
}
.back{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/1.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon{
    height: 7vh;
    width:7vh;
}

.plain {
    position: absolute;
}
.back1{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/4.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon1{
    height: 7vh;
    width:7vh;
}