
.plain {
    position: absolute;
}
.back{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/download.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon{
    height: 7vh;
    width:7vh;
}

.plain {
    position: absolute;
}
.back1{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/4.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon1{
    height: 7vh;
    width:7vh;
}
.plain {
    position: absolute;
}
.back2{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/21.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon2{
    height: 7vh;
    width:7vh;
}

.plain {
    position: absolute;
}
.back3{
    // background-color: red;
    height:30vh;
    background-image:url(../../assets/imgs/28.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  
}
.location-icon3{
    height: 7vh;
    width:7vh;
}